@import url('https://fonts.googleapis.com/css?family=Jura');

:root {
  --primary-color: #202020;
  --secondary-color: hsl(0, 75%, 30%);
  --font: Jura;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font);
}